@import "tailwindcss";
@import "@nuxt/ui";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-NF-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-NF-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Maple Mono', 'JetBrains Mono', monospace;
}

body {
  background-color: unset;
  @apply text-neutral-800 dark:text-neutral-300;
}

.bg-dots {
  background-image: url('/dot-grid-light.png');
  background-size: 50px;
  background-repeat: repeat;
}

.dark .bg-dots,
.bg-dots.dark {
  color-scheme: dark;
  background-color: black;
  background-image: url('/dot-grid-dark.png');
}

.shiki,
.shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--ui-bg) !important;
}

.summary-card {
  @apply border gap-1 border-neutral-200 dark:border-neutral-700 rounded-sm px-2 py-1 flex items-center;
}



.color-scale-neutral {
  @apply text-gray-700/75 dark:text-gray-300/75;
}

.color-scale-low {
  @apply text-lime-700/75 dark:text-lime-300/75 dark:saturate-50;
}

.color-scale-medium {
  @apply text-amber-700/85 dark:text-amber-300/85 dark:saturate-80;
}

.color-scale-high {
  @apply text-orange-700/95 dark:text-orange-300/95;
}

.color-scale-critical {
  @apply text-red-700/95 dark:text-red-300/95;
}
