@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Maple Mono', 'JetBrains Mono', monospace;
}

.shiki,
.shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--ui-bg) !important;
}

