@import "tailwindcss";
@import "@nuxt/ui";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-NF-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-NF-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}


@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Maple Mono', 'JetBrains Mono', monospace;
}

.shiki,
.shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--ui-bg) !important;
}

.summary-card {
  @apply border gap-1 border-neutral-200 dark:border-neutral-700 rounded-sm px-2 py-1 flex items-center;
}
